html, body
  background: $bg-color
  color: $fg-color
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif

noscript
  padding-top: $header-height

.cq-wrapper,
.cq-landing
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh

header
  position: fixed
  top: 0
  left: 0
  right: 0
  display: flex
  justify-content: center
  align-items: center
  height: $header-height
  background: $bg-color
  z-index: 1

.cq-header-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  width: 650px

.cq-brand,
.cq-nav
  font-size: $font-size-title

a
  color: inherit
  text-decoration: none

.cq-landing-wrapper
  margin-bottom: 10%
  width: 450px
  line-height: 1.3
  text-align: center

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.cq-title
  font-size: 42px
  margin-bottom: 20px
.cq-subtitle
  font-size: 22px
  margin-bottom: 20px

.cq-landing-errors
  line-height: 1.4

  .cq-title,
  .cq-subtitle
    text-align: center

  .cq-title
    margin-top: 30px

  pre,
  code
    font-family: 'Menlo', Monaco, monospace
    background-color: $bg-color-dark
    box-shadow: rgba(255,255,255,0.1) 0 1px 0,rgba(0,0,0,0.8) 0 1px 7px 0px inset

  p
    max-width: 450px
    margin: 0 auto 20px

  pre
    max-width: 900px
    overflow: scroll

    margin: 20px auto
    padding: auto

    text-align: left
    border-radius: 10px

  code
    border-radius: 4px
    padding: 9px

