html, body
  background: $bg-color
  color: $fg-color
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif

.cq-wrapper
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh

header
  display: flex
  justify-content: center
  align-items: center
  height: 60px

.cq-header-wrapper
  display: flex
  justify-content: space-between
  align-items: center
  width: 650px

.cq-brand,
.cq-nav
  font-size: $font-size-title

a
  color: inherit
  text-decoration: none
