html, body
  background: $bg-color
  color: $fg-color
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif

.cmq-wrapper
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh

header
  display: flex
  justify-content: center
  align-items: center
  height: 50px

.cmq-header-wrapper
  width: 650px
  font-size: $font-size-title
  padding: 15px;
