@import variables

.modal-canvas
  display: none

  &.active
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    justify-content: center
    align-items: center

    background-color: $bg-shadow
    cursor: pointer

.modal
  margin-bottom: 10vh

  padding: 40px 30px
  box-sizing: border-box
  width: 450px

  background-color: $bg-color
  border-radius: 5px
  box-shadow: 0 0px 20px $brand-color

  cursor: auto

  h1
    margin-bottom: 30px

    font-size: $font-size-title

.modal-warning
  margin-bottom: 10px

  font-size: $font-size-subtitle
  font-style: italic
  color: $fg-subtitle-color
  line-height: 1.4
