extends layout

block head
  link(rel="stylesheet", href="/css/main.css")

block content
  noscript
    h1.noscript Whoa there!
    p.noscript ⌘ + Queue makes heavy use of JavaScript.
  header
    .cq-header-wrapper
      .cq-brand
        a(href="/") ⌘ + Queue
      .cq-nav
  #cq-target
  #modal-target

block scripts
  script(src='/js/bundle.js')
