extends layout

block head
  link(rel="stylesheet", href="/css/main.css")

block content
  header
    .cq-header-wrapper
      .cq-brand
        a(href="/") ⌘ + Queue
      .cq-nav
        if loggedIn
          a(href="/auth/logout") Log out
        else
          a(href="/auth/login") Log in
  if !loggedIn
    .cq-landing
      .cq-landing-wrapper
        h1.cq-title ⌘ + Queue
        noscript
          h2.cq-subtitle Whoa there! ⌘ + Queue makes heavy use of JavaScript.
        h2.cq-subtitle sign in with your Andrew account to join, create, or browse queues
        a.cq-github-link(href="https://github.com/jez/cmdqueue") GitHub
  #cq-target(data-user-id=userId)
  #modal-target

block scripts
  script(src='/js/bundle.js')
