extends layout

block head
  link(rel="stylesheet", href="/css/main.css")

block content
  noscript
    h1.noscript Whoa there!
    p.noscript ⌘ + Queue makes heavy use of JavaScript.
  header
    .cq-header-wrapper
      .cq-brand
        a(href="/") ⌘ + Queue
      .cq-nav
        if loggedIn
          a(href="/auth/logout") Log out
        else
          a(href="/auth/login") Log in
  #cq-target(data-user-id=userId)
  #modal-target

block scripts
  script(src='/js/bundle.js')
