extends layout

block head
  link(rel="stylesheet", href="/css/main.css")

block content
  header
    .cq-header-wrapper
      .cq-brand
        a(href="/") ⌘ + Queue
      .cq-nav
        if loggedIn
          a(href="/auth/logout") Log out
        else
          a(href="/auth/login") Log in
  if !loggedIn
    .cq-landing
      .cq-landing-wrapper
        h1.cq-title ⌘ + Queue
        noscript
          h2.cq-subtitle Whoa there! ⌘ + Queue makes heavy use of JavaScript.
        h2.cq-subtitle sign in with your Andrew account to join, create, or browse queues
        a.cq-github-link(href="https://github.com/jez/cmd-queue") GitHub
  else
    #cq-target
    #modal-target

block scripts
  if user
    //- Save current user as global. This should be treated as a constant!
    script window.user = !{JSON.stringify(user)}
  script(src='/js/bundle.js')
