doctype html
html
  head
    title ⌘ + Queue

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="description", content="Queue service for CMU students")

    //- See also: /favicon.ico
    link(rel="icon", href="/img/favicon.png")

    link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Open+Sans")
    block head
  body
    block content
    block scripts
